/* add your CSS here */
#fact {
  font-style: italic;
}

.liName {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

#card {
  border: 1px solid lightgray;
  width: 320px;
  padding: 10px;
}

img {
  width: 300px;
  height: 300px;
  padding: 10px;
}

#info {
  border: 1px solid lightgray;
  padding: 10px;
}

h3 {
  padding: 10px;
  margin: 0px;
}
